* { box-sizing: border-box; margin: 0; padding: 0; }

body {
  font-family: var(--font-main); /* New Font */
  background-color: var(--bg-app);
  color: var(--text-main);
  font-size: 14px;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
}

::-webkit-scrollbar { width: 6px; height: 6px; }
::-webkit-scrollbar-track { background: transparent; }
::-webkit-scrollbar-thumb { background: #cbd5e1; border-radius: 10px; }